<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>DATACENTER</title>
		<link rel="stylesheet" type="text/css" href="style/index.css"/>
		<script type="text/javascript" src="script/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="script/index.js"></script>
	</head>

	<body>

		<header>
			<button id="logoff" class="b1" type="button" onclick="logoff()">logoff</button>
			<div id="user-id">user id</div>
			<div id="message">hi I am message</div>
		</header>
		<p style="display:none"></p>
		<nav id="div-two" style="width:100%">
			<button class="b2" id="Servers" type="button"  style="width:49%" onclick="servers()">Servers</button>
			<button class="b2" id="Users" type="button"  style="width:49%" onclick="users()">Users</button>
		</nav>
		<p style="display:none"></p>
	</body>
</html>
